# Ignorar extensiones en cualquier carpeta
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rproj
*.DS_Store
*.aux
*.log
*.nav
*.out
*.snm
*.gz
*.tex
*.toc
*.vrb

# Ignorar carpetas específicas
*week-03/github/task-dplyr/
*week-03/preparar_task/

# Ignorar .Rproj.user en cualquier nivel
**/.Rproj.user
.Rproj.user
