# Ignorar extensiones en cualquier carpeta
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rproj
*.DS_Store
*.aux
*.log
*.nav
*.out
*.snm
*.gz
*.tex
*.toc
*.vrb

# Ignorar cualquier carpeta que contenga /github/task-
**/github/task-*/

# Ignorar cualquier carpeta que contenga /data/
**/data/

# Ignorar .Rproj.user en cualquier nivel
**/.Rproj.user
.Rproj.user
